open511/validator/schema/open511.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:gml="http://www.opengis.net/gml" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="open511">
      <optional>
        <attribute name="xml:base">
          <ref name="AbsoluteURLType"/>
        </attribute>
      </optional>
      <optional>
        <ref name="XMLLang"/>
      </optional>
      <attribute name="version">
        <value>v1</value>
      </attribute>
      <choice>
        <interleave>
          <!-- Any non-discovery page -->
          <choice>
            <element name="events">
              <zeroOrMore>
                <ref name="RoadEvent"/>
              </zeroOrMore>
            </element>
            <element name="areas">
              <zeroOrMore>
                <ref name="Area"/>
              </zeroOrMore>
            </element>
            <element name="jurisdictions">
              <zeroOrMore>
                <ref name="Jurisdiction"/>
              </zeroOrMore>
            </element>
            <element name="geographies">
              <zeroOrMore>
                <ref name="JurisdictionGeography"/>
              </zeroOrMore>
            </element>
            <element name="cameras">
              <zeroOrMore>
                <ref name="Camera"/>
              </zeroOrMore>
            </element>
            <element name="roads">
              <zeroOrMore>
                <ref name="Road"/>
              </zeroOrMore>
            </element>
            <element name="traffic_segments">
              <zeroOrMore>
                <ref name="TrafficSegment"/>
              </zeroOrMore>
            </element>
            <element name="historical_traffic_conditions">
              <zeroOrMore>
                <ref name="HistoricalTrafficCondition"/>
              </zeroOrMore>
            </element>
          </choice>
          <optional>
            <ref name="Pagination"/>
          </optional>
          <zeroOrMore>
            <ref name="Link"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="ForeignElement"/>
          </zeroOrMore>
        </interleave>
        <interleave>
          <!-- The discovery page -->
          <element name="jurisdictions">
            <oneOrMore>
              <ref name="MinimalJurisdiction"/>
            </oneOrMore>
          </element>
          <element name="services">
            <oneOrMore>
              <ref name="ServiceDefinition"/>
            </oneOrMore>
          </element>
          <optional>
            <ref name="SelfLink"/>
          </optional>
          <zeroOrMore>
            <ref name="ForeignElement"/>
          </zeroOrMore>
        </interleave>
      </choice>
    </element>
  </start>
  <define name="MinimalJurisdiction">
    <element name="jurisdiction">
      <interleave>
        <element name="id">
          <ref name="JurisdictionIDType"/>
        </element>
        <oneOrMore>
          <element name="name">
            <ref name="FreeTextType"/>
          </element>
        </oneOrMore>
        <ref name="SelfLink"/>
      </interleave>
    </element>
  </define>
  <define name="Jurisdiction">
    <element name="jurisdiction">
      <optional>
        <ref name="XMLLang"/>
      </optional>
      <interleave>
        <element name="id">
          <ref name="JurisdictionIDType"/>
        </element>
        <oneOrMore>
          <element name="name">
            <ref name="FreeTextType"/>
          </element>
        </oneOrMore>
        <element name="email">
          <ref name="EmailType"/>
        </element>
        <optional>
          <element name="phone">
            <text/>
          </element>
        </optional>
        <zeroOrMore>
          <element name="description">
            <ref name="FreeTextType"/>
          </element>
        </zeroOrMore>
        <optional>
          <!-- FIXME type -->
          <element name="timezone">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="distance_unit">
            <choice>
              <value>KILOMETRES</value>
              <value>MILES </value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="languages">
            <oneOrMore>
              <element name="language">
                <data type="language"/>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <oneOrMore>
          <!-- license, geography, self req'd; description optional -->
          <ref name="Link"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="ForeignElement"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="JurisdictionGeography">
    <element name="geography">
      <choice>
        <ref name="GMLPolygon"/>
        <ref name="GMLMultiPolygon"/>
      </choice>
    </element>
  </define>
  <define name="RoadEvent">
    <element name="event">
      <optional>
        <ref name="XMLLang"/>
      </optional>
      <!-- self, jurisdiction, ...? -->
      <interleave>
        <oneOrMore>
          <ref name="Link"/>
        </oneOrMore>
        <element name="id">
          <ref name="Open511IDType"/>
        </element>
        <element name="status">
          <choice>
            <value>ACTIVE</value>
            <value>ARCHIVED</value>
          </choice>
        </element>
        <oneOrMore>
          <element name="headline">
            <ref name="FreeTextType"/>
          </element>
        </oneOrMore>
        <zeroOrMore>
          <element name="description">
            <ref name="FreeTextType"/>
          </element>
        </zeroOrMore>
        <element name="event_type">
          <choice>
            <value>CONSTRUCTION</value>
            <value>SPECIAL_EVENT</value>
            <value>INCIDENT</value>
            <value>WEATHER_CONDITION</value>
            <value>ROAD_CONDITION</value>
          </choice>
        </element>
        <optional>
          <element name="event_subtypes">
            <oneOrMore>
              <element name="event_subtype">
                <choice>
                  <value>ACCIDENT</value>
                  <value>SPILL</value>
                  <value>OBSTRUCTION</value>
                  <value>HAZARD</value>
                  <value>ROAD_MAINTENANCE</value>
                  <value>ROAD_CONSTRUCTION</value>
                  <value>EMERGENCY_MAINTENANCE</value>
                  <value>PLANNED_EVENT</value>
                  <value>CROWD</value>
                  <value>HAIL</value>
                  <value>THUNDERSTORM</value>
                  <value>HEAVY_DOWNPOUR</value>
                  <value>STRONG_WINDS</value>
                  <value>BLOWING_DUST</value>
                  <value>SANDSTORM</value>
                  <value>INSECT_SWARMS</value>
                  <value>AVALANCHE_HAZARD</value>
                  <value>SURFACE_WATER_HAZARD</value>
                  <value>MUD</value>
                  <value>LOOSE_GRAVEL</value>
                  <value>OIL_ON_ROADWAY</value>
                  <value>FIRE</value>
                  <value>SIGNAL_LIGHT_FAILURE</value>
                  <value>PARTLY_ICY</value>
                  <value>ICE_COVERED</value>
                  <value>PARTLY_SNOW_PACKED</value>
                  <value>SNOW_PACKED</value>
                  <value>PARTLY_SNOW_COVERED</value>
                  <value>SNOW_COVERED</value>
                  <value>DRIFTING_SNOW</value>
                  <value>POOR_VISIBILITY</value>
                  <value>ALMOST_IMPASSABLE</value>
                  <value>PASSABLE_WITH_CARE</value>
                </choice>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <element name="severity">
          <choice>
            <value>MINOR</value>
            <value>MODERATE</value>
            <value>MAJOR</value>
            <value>UNKNOWN</value>
          </choice>
        </element>
        <optional>
          <element name="certainty">
            <choice>
              <value>OBSERVED</value>
              <value>LIKELY</value>
              <value>POSSIBLE</value>
              <value>UNKNOWN</value>
            </choice>
          </element>
        </optional>
        <element name="created">
          <ref name="TimestampType"/>
        </element>
        <element name="updated">
          <ref name="TimestampType"/>
        </element>
        <zeroOrMore>
          <element name="detour">
            <ref name="FreeTextType"/>
          </element>
        </zeroOrMore>
        <element name="geography">
          <ref name="AnyGML"/>
        </element>
        <optional>
          <element name="grouped_events">
            <oneOrMore>
              <ref name="RelatedLink"/>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="areas">
            <oneOrMore>
              <ref name="Area"/>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="roads">
            <oneOrMore>
              <ref name="EventRoad"/>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="timezone">
            <text/>
          </element>
        </optional>
        <ref name="Schedule"/>
        <optional>
          <element name="attachments">
            <oneOrMore>
              <ref name="VerboseRelatedLink"/>
            </oneOrMore>
          </element>
        </optional>
        <zeroOrMore>
          <ref name="ForeignElement"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Schedule">
    <element name="schedule">
      <choice>
        <interleave>
          <element name="recurring_schedules">
            <oneOrMore>
              <ref name="RecurringSchedule"/>
            </oneOrMore>
          </element>
          <optional>
            <element name="exceptions">
              <oneOrMore>
                <element name="exception">
                  <data type="string">
                    <param name="pattern">[12][0-9]{3}-[01][0-9]-[0-3][0-9]( ([01][0-9]|2[0123]):[0-5][0-9]-([01][0-9]|2[0123]):[0-5][0-9])*</param>
                  </data>
                </element>
              </oneOrMore>
            </element>
          </optional>
        </interleave>
        <element name="intervals">
          <oneOrMore>
            <choice>
              <ref name="Interval"/>
              <ref name="IntervalWithoutEnd"/>
            </choice>
          </oneOrMore>
        </element>
      </choice>
    </element>
  </define>
  <define name="Interval">
    <element name="interval">
      <data type="string">
        <param name="pattern">\d\d\d\d-\d\d-\d\dT([01][0-9]|2[0123]):[0-5][0-9]/\d\d\d\d-\d\d-\d\dT([01][0-9]|2[0123]):[0-5][0-9]</param>
      </data>
    </element>
  </define>
  <define name="IntervalWithoutEnd">
    <element name="interval">
      <data type="string">
        <param name="pattern">\d\d\d\d-\d\d-\d\dT([01][0-9]|2[0123]):[0-5][0-9]/</param>
      </data>
    </element>
  </define>
  <define name="RecurringSchedule">
    <element name="recurring_schedule">
      <interleave>
        <element name="start_date">
          <data type="date"/>
        </element>
        <optional>
          <element name="end_date">
            <data type="date"/>
          </element>
        </optional>
        <optional>
          <element name="days">
            <oneOrMore>
              <element name="day">
                <data type="int">
                  <param name="minInclusive">1</param>
                  <param name="maxInclusive">7</param>
                </data>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <interleave>
            <element name="daily_start_time">
              <ref name="NaiveTimeType"/>
            </element>
            <element name="daily_end_time">
              <ref name="NaiveTimeType"/>
            </element>
          </interleave>
        </optional>
        <zeroOrMore>
          <ref name="ForeignElement"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Area">
    <element name="area">
      <optional>
        <ref name="XMLLang"/>
      </optional>
      <interleave>
        <element name="id">
          <ref name="Open511IDType"/>
        </element>
        <oneOrMore>
          <element name="name">
            <ref name="FreeTextType"/>
          </element>
        </oneOrMore>
        <optional>
          <ref name="SelfLink"/>
        </optional>
        <zeroOrMore>
          <ref name="ForeignElement"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Road">
    <element name="road">
      <optional>
        <ref name="XMLLang"/>
      </optional>
      <interleave>
        <element name="id">
          <ref name="Open511IDType"/>
        </element>
        <oneOrMore>
          <ref name="Link"/>
        </oneOrMore>
        <oneOrMore>
          <element name="name">
            <ref name="FreeTextType"/>
          </element>
        </oneOrMore>
        <zeroOrMore>
          <ref name="ForeignElement"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="EventRoad">
    <element name="road">
      <interleave>
        <oneOrMore>
          <element name="name">
            <ref name="FreeTextType"/>
          </element>
        </oneOrMore>
        <optional>
          <ref name="SelfLink"/>
        </optional>
        <zeroOrMore>
          <element name="from">
            <ref name="FreeTextType"/>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="to">
            <ref name="FreeTextType"/>
          </element>
        </zeroOrMore>
        <optional>
          <element name="direction">
            <ref name="RoadDirectionsType"/>
          </element>
        </optional>
        <optional>
          <element name="state">
            <choice>
              <value>CLOSED</value>
              <value>SOME_LANES_CLOSED</value>
              <value>SINGLE_LANE_ALTERNATING</value>
              <value>ALL_LANES_OPEN</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="lanes_closed">
            <data type="int">
              <param name="minInclusive">1</param>
            </data>
          </element>
        </optional>
        <optional>
          <element name="lanes_open">
            <data type="int">
              <param name="minInclusive">1</param>
            </data>
          </element>
        </optional>
        <optional>
          <element name="impacted_systems">
            <oneOrMore>
              <element name="impacted_system">
                <choice>
                  <value>ROAD</value>
                  <value>SIDEWALK</value>
                  <value>BIKELANE</value>
                  <value>PARKING</value>
                </choice>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="restrictions">
            <oneOrMore>
              <element name="restriction">
                <element name="restriction_type">
                  <choice>
                    <value>SPEED</value>
                    <value>WIDTH</value>
                    <value>HEIGHT</value>
                    <value>WEIGHT</value>
                    <value>AXLE_WEIGHT</value>
                  </choice>
                </element>
                <element name="value">
                  <data type="decimal"/>
                </element>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <zeroOrMore>
          <ref name="ForeignElement"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="TrafficSegmentRoad">
    <element name="road">
      <interleave>
        <oneOrMore>
          <element name="name">
            <ref name="FreeTextType"/>
          </element>
        </oneOrMore>
        <ref name="SelfLink"/>
        <element name="direction">
          <ref name="SpecificRoadDirectionsType"/>
        </element>
        <zeroOrMore>
          <element name="from">
            <ref name="FreeTextType"/>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="to">
            <ref name="FreeTextType"/>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="ForeignElement"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="ServiceDefinition">
    <element name="service">
      <interleave>
        <oneOrMore>
          <ref name="Link"/>
        </oneOrMore>
        <optional>
          <element name="supported_versions">
            <oneOrMore>
              <element name="supported_version">
                <text/>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <zeroOrMore>
          <ref name="ForeignElement"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Camera">
    <element name="camera">
      <optional>
        <ref name="XMLLang"/>
      </optional>
      <interleave>
        <element name="id">
          <ref name="Open511IDType"/>
        </element>
        <oneOrMore>
          <ref name="Link"/>
        </oneOrMore>
        <oneOrMore>
          <element name="name">
            <ref name="FreeTextType"/>
          </element>
        </oneOrMore>
        <zeroOrMore>
          <element name="description">
            <ref name="FreeTextType"/>
          </element>
        </zeroOrMore>
        <element name="geography">
          <ref name="GMLPoint"/>
        </element>
        <element name="media_files">
          <oneOrMore>
            <element name="media_file">
              <interleave>
                <ref name="SelfLink"/>
                <element name="type">
                  <data type="string">
                    <param name="pattern">[a-z0-9\.\-]+/[a-z0-9\.\-]+</param>
                  </data>
                </element>
                <optional>
                  <element name="width">
                    <data type="int"/>
                  </element>
                </optional>
                <optional>
                  <element name="height">
                    <data type="int"/>
                  </element>
                </optional>
                <optional>
                  <element name="refresh_interval">
                    <data type="int"/>
                  </element>
                </optional>
                <zeroOrMore>
                  <element name="title">
                    <ref name="FreeTextType"/>
                  </element>
                </zeroOrMore>
              </interleave>
            </element>
          </oneOrMore>
        </element>
        <optional>
          <element name="areas">
            <oneOrMore>
              <ref name="Area"/>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="roads">
            <oneOrMore>
              <element name="road">
                <interleave>
                  <oneOrMore>
                    <element name="name">
                      <ref name="FreeTextType"/>
                    </element>
                  </oneOrMore>
                  <optional>
                    <ref name="SelfLink"/>
                  </optional>
                  <element name="direction">
                    <ref name="RoadDirectionsType"/>
                  </element>
                </interleave>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <zeroOrMore>
          <ref name="ForeignElement"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="TrafficSegment">
    <element name="traffic_segment">
      <optional>
        <ref name="XMLLang"/>
      </optional>
      <interleave>
        <element name="id">
          <ref name="Open511IDType"/>
        </element>
        <oneOrMore>
          <ref name="Link"/>
        </oneOrMore>
        <element name="updated">
          <ref name="TimestampType"/>
        </element>
        <zeroOrMore>
          <element name="name">
            <ref name="FreeTextType"/>
          </element>
        </zeroOrMore>
        <element name="roads">
          <oneOrMore>
            <ref name="TrafficSegmentRoad"/>
          </oneOrMore>
        </element>
        <element name="geography">
          <choice>
            <ref name="GMLPoint"/>
            <ref name="GMLLineString"/>
          </choice>
        </element>
        <element name="current_speed">
          <data type="integer"/>
        </element>
        <optional>
          <element name="current_travel_time">
            <data type="integer"/>
          </element>
        </optional>
        <optional>
          <element name="historical_speed">
            <data type="integer"/>
          </element>
        </optional>
        <optional>
          <element name="historical_travel_time">
            <data type="integer"/>
          </element>
        </optional>
        <optional>
          <element name="areas">
            <oneOrMore>
              <ref name="Area"/>
            </oneOrMore>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="HistoricalTrafficCondition">
    <element name="historical_traffic_condition">
      <optional>
        <ref name="XMLLang"/>
      </optional>
      <interleave>
        <element name="link">
          <attribute name="rel">
            <value>traffic_segment</value>
          </attribute>
          <attribute name="href">
            <data type="anyURI"/>
          </attribute>
        </element>
        <element name="day">
          <choice>
            <value>1</value>
            <value>2</value>
            <value>3</value>
            <value>4</value>
            <value>5</value>
            <value>6</value>
            <value>7</value>
          </choice>
        </element>
        <element name="time">
          <ref name="NaiveTimeType"/>
        </element>
        <element name="historical_speed">
          <data type="integer"/>
        </element>
        <optional>
          <element name="historical_travel_time">
            <data type="integer"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="Link">
    <element name="link">
      <attribute name="rel"/>
      <attribute name="href">
        <data type="anyURI"/>
      </attribute>
    </element>
  </define>
  <define name="SelfLink">
    <element name="link">
      <attribute name="rel">
        <value>self</value>
      </attribute>
      <attribute name="href">
        <data type="anyURI"/>
      </attribute>
    </element>
  </define>
  <define name="UpLink">
    <element name="link">
      <attribute name="rel">
        <value>up</value>
      </attribute>
      <attribute name="href">
        <data type="anyURI"/>
      </attribute>
    </element>
  </define>
  <define name="RelatedLink">
    <element name="link">
      <attribute name="rel">
        <value>related</value>
      </attribute>
      <attribute name="href">
        <data type="anyURI"/>
      </attribute>
    </element>
  </define>
  <define name="VerboseRelatedLink">
    <element name="link">
      <attribute name="rel">
        <value>related</value>
      </attribute>
      <attribute name="href">
        <data type="anyURI"/>
      </attribute>
      <optional>
        <attribute name="title"/>
      </optional>
      <optional>
        <attribute name="type"/>
      </optional>
      <optional>
        <attribute name="length">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="hreflang">
          <data type="language"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="Pagination">
    <element name="pagination">
      <interleave>
        <element name="offset">
          <data type="integer"/>
        </element>
        <zeroOrMore>
          <ref name="Link"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="AnyGML">
    <choice>
      <ref name="GMLPoint"/>
      <ref name="GMLMultiPoint"/>
      <ref name="GMLLineString"/>
      <ref name="GMLMultiLineString"/>
      <ref name="GMLMultiCurve"/>
      <ref name="GMLPolygon"/>
      <ref name="GMLMultiPolygon"/>
    </choice>
  </define>
  <define name="srsName">
    <attribute name="srsName">
      <value>urn:ogc:def:crs:EPSG::4326</value>
    </attribute>
  </define>
  <define name="GMLPos">
    <element name="gml:pos">
      <list>
        <data type="double"/>
        <data type="double"/>
      </list>
    </element>
  </define>
  <define name="GMLPosList">
    <element name="gml:posList">
      <list>
        <oneOrMore>
          <data type="double"/>
          <data type="double"/>
        </oneOrMore>
      </list>
    </element>
  </define>
  <define name="GMLPoint">
    <element name="gml:Point">
      <ref name="srsName"/>
      <ref name="GMLPos"/>
    </element>
  </define>
  <define name="GMLMultiPoint">
    <element name="gml:MultiPoint">
      <ref name="srsName"/>
      <oneOrMore>
        <element name="gml:pointMember">
          <element name="gml:Point">
            <ref name="GMLPos"/>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="GMLLineString">
    <element name="gml:LineString">
      <ref name="srsName"/>
      <ref name="GMLPosList"/>
    </element>
  </define>
  <define name="GMLMultiLineString">
    <element name="gml:MultiLineString">
      <ref name="srsName"/>
      <oneOrMore>
        <element name="gml:lineStringMember">
          <element name="gml:LineString">
            <ref name="GMLPosList"/>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="GMLMultiCurve">
    <element name="gml:MultiCurve">
      <ref name="srsName"/>
      <oneOrMore>
        <element name="gml:curveMember">
          <element name="gml:LineString">
            <ref name="GMLPosList"/>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="GMLLinearRing">
    <element name="gml:LinearRing">
      <ref name="GMLPosList"/>
    </element>
  </define>
  <define name="GMLOuterBoundary">
    <element name="gml:exterior">
      <ref name="GMLLinearRing"/>
    </element>
  </define>
  <define name="GMLInnerBoundary">
    <element name="gml:interior">
      <ref name="GMLLinearRing"/>
    </element>
  </define>
  <define name="GMLPolygon">
    <element name="gml:Polygon">
      <ref name="srsName"/>
      <ref name="GMLOuterBoundary"/>
      <zeroOrMore>
        <ref name="GMLInnerBoundary"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="GMLMultiPolygon">
    <element name="gml:MultiPolygon">
      <ref name="srsName"/>
      <oneOrMore>
        <element name="gml:polygonMember">
          <element name="gml:Polygon">
            <ref name="GMLOuterBoundary"/>
            <zeroOrMore>
              <ref name="GMLInnerBoundary"/>
            </zeroOrMore>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="ForeignElement">
    <element>
      <anyName>
        <except>
          <nsName ns=""/>
        </except>
      </anyName>
      <zeroOrMore>
        <choice>
          <attribute>
            <anyName/>
          </attribute>
          <text/>
          <ref name="ForeignElement"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="JurisdictionIDType">
    <data type="string">
      <param name="pattern">[a-z0-9][a-z0-9\-]*\.[a-z0-9.\-]{2,}</param>
    </data>
  </define>
  <define name="Open511IDType">
    <data type="string">
      <param name="pattern">[a-z0-9][a-z0-9\-]*\.[a-z0-9\.\-]{2,}/[a-zA-Z0-9_\.\-]+</param>
    </data>
  </define>
  <define name="TimestampType">
    <data type="dateTime">
      <param name="pattern">.+T.+(Z|[+\-][01]\d:?\d?\d?)</param>
    </data>
  </define>
  <define name="NaiveTimeType">
    <data type="string">
      <param name="pattern">([01][0-9]|2[0123]):[0-5][0-9]</param>
    </data>
  </define>
  <define name="EmailType">
    <data type="string">
      <param name="pattern">[a-zA-Z0-9\._%+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,4}</param>
    </data>
  </define>
  <define name="XMLLang">
    <attribute name="xml:lang">
      <data type="language"/>
    </attribute>
  </define>
  <define name="AbsoluteURLType">
    <data type="anyURI">
      <param name="pattern">https?:/.+</param>
    </data>
  </define>
  <define name="SpecificRoadDirectionsType">
    <choice>
      <value>N</value>
      <value>E</value>
      <value>W</value>
      <value>S</value>
      <value>NW</value>
      <value>SW</value>
      <value>NE</value>
      <value>SE</value>
    </choice>
  </define>
  <define name="RoadDirectionsType">
    <choice>
      <value>N</value>
      <value>E</value>
      <value>W</value>
      <value>S</value>
      <value>NW</value>
      <value>SW</value>
      <value>NE</value>
      <value>SE</value>
      <value>NONE</value>
      <value>BOTH</value>
    </choice>
  </define>
  <define name="FreeTextType">
    <optional>
      <ref name="XMLLang"/>
    </optional>
    <text/>
  </define>
</grammar>
